<launch>
    <group ns="/uwb">
        <node pkg="ros_decawave" type="decawave_driver.py" name="decawave_driver" output="screen">
            <param name="port" value="/dev/ttyACM0"/>
            <param name="baudrate" value="115200"/>
            <param name="tf_publisher" value="True"/>
            <param name="tf_reference" value="world"/>
            <param name="tag_name" value="uwb"/>
            <param name="rate" value="10"/>
        </node>
    </group>

    <!-- Show in Rviz   -->
    <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_decawave)/config/config.rviz"/-->

</launch>
